@use 'variaveis' as *;

* { margin:0; padding:0; box-sizing:border-box; }

body {
  font-family: $fonte;
  color: $cor-texto;
  background: $cor-fundo;
  line-height: 1.6;
}

h1, h2, h3 { margin-bottom: $espaco-sm; }